{% extends "base.html" %}

{% block content %}
<main class="form-signin w-50 m-auto p-2">
  <h2 style="text-align: center;">Restablecer Contraseña</h2>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
                        
  <div class="form-row g-4 mt-1"> 
    <div class="col-md-12 p-1">
	  <div class="col-md"> 
        <div class="input-group mb-3"> 
          <div class="input-group-prepend">
            <span class="input-group-text btn btn-secondary p-3"><i class="fas fa-user"></i>
            </span>
          </div>
          <div class="form-floating bg-light">
            <input type="email" name="email" id="id_email" autocomplete="email" class="form-control" placeholder="Correo electrónico" required>
           <label for="id_email">Correo electrónico</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 m-auto">
        <input type="submit" class="btn btn-outline-secondary" value="Restablecer contraseña">
    </div>
  </div>
  </form>
</main>
{% endblock %}

