<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Buscar por columnas
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
                       <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
		                  {% for key,value in proyectos.dicttit.items %}                    
			                 <li>
				                <a href="#" class="link-dark d-inline-flex text-decoration-none rounded" onclick="llenarfld('/tasks/pages/{{ proyectos.num }}/2','frmparam', '{{ key }}-0-0-0')">
				                   {{value}}
				                </a>	
			                 </li>								    	
		                  {% endfor %}	 
		               </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Criterio de búsqueda
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
                     <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"> 
			            <li>
                           <div id="rescrit0"></div> 
			            </li>		
		             </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
        Filtrar y/o guardar filtro
      </button>
    </h2>
    <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" id="resinpbox"></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Columnas para el reporte
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
                     <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
		                {% for key,value in proyectos.dicttit.items %}                    
			               <li class="row">
			                  <a href="#" class="link-dark d-inline-flex text-decoration-none rounded col-8" onclick="llenarfld('/tasks/pages/{{ proyectos.num }}/2','frmparam', '{{ key }}-2-0-0')">
			                     {{value}}
			                  </a>
				              <div class="form-check form-switch col-1 mt-2"><input class="form-check-input" type="checkbox" id="{{key}}" name="chkbus" /></div>	
			               </li>								    	
		               {% endfor %}			
		             </ul>
      </div>
    </div>
  </div>
</div>
